<div class="container">
    <mat-grid-list cols="3" rowHeight="2:1" (click)="onMakingMove()">
        <mat-grid-tile id="0">{{board[0]}}</mat-grid-tile>
        <mat-grid-tile id="1">{{board[1]}}</mat-grid-tile>
        <mat-grid-tile id="2">{{board[2]}}</mat-grid-tile>
        <mat-grid-tile id="3">{{board[3]}}</mat-grid-tile>
        <mat-grid-tile id="4">{{board[4]}}</mat-grid-tile>
        <mat-grid-tile id="5">{{board[5]}}</mat-grid-tile>
        <mat-grid-tile id="6">{{board[6]}}</mat-grid-tile>
        <mat-grid-tile id="7">{{board[7]}}</mat-grid-tile>
        <mat-grid-tile id="8">{{board[8]}}</mat-grid-tile>
    </mat-grid-list>
</div>