
.center {
   text-align: center;
   padding: 20px;
}

.container {
    padding: 10px;
}

.welcome {
    background-color: bisque;
    padding: 15px;
    margin: 12px 0;
}

.winner {
    padding: 15px;
    margin: 12px 0;
    background-color: yellowgreen;
}